<div class="container" >
    <div class="box heat-low">{{result.data?.high_percent}}  High Probability to win <span style="float: right;">{{result.data?.high_count}}</span></div>
    <div class="box heat-medium">{{result?.data?.medium_percent}}  Medium Probability to win <span style="float: right;">{{result.data?.medium_count}}</span></div>
    <div class="box heat-high">{{result.data?.low_percent}}  Low Probability to win <span style="float: right;">{{result.data?.low_count}}</span></div>
  </div>

 